@import url("colors.css");

* {
  font-family: "Radio Canada Big", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: @background;
}

#workspaces button {
  padding-right: 11px;
  padding-left: 6px;
  border-radius: 18px;
}

#workspaces button.urgent {
  color: @color3;
}

#workspaces button.active:hover {
  color: @background;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces {
  background-color: @background;
  border-radius: 18px;
}

.modules-left {
  margin-left: 20px;
}

.modules-right {
  margin-right: 20px;
  border-radius: 18px;
}

#custom-notifications,
#mpris,
#bluetooth,
#custom-pacman,
#battery,
#pulseaudio,
#backlight,
#network,
#custom-weather,
#custom-media,
#keyboard-state {
  color: @color5;
  background-color: @background;
  margin: 0 6px;
  padding: 0 15px;
  border-radius: 18px;
}

#network {
  color: @color2;
  background-color: @background;
  padding: 0 15px;
}

#clock {
  color: @color7;
  background-color: @background;
  padding: 0 15px;
  border-radius: 18px;
  margin-right: 6px;
}

#backlight {
  color: @color3;
  margin: 0 0 0 6px;
}

#battery {
  color: @color1;
}

#network {
  color: @color4;
}

#pulseaudio {
  color: @color5;
}

#custom-weather {
  color: @color4;
  background-color: @background;
  padding: 0 15px;
}

#custom-pacman {
  color: @color2;
}

#custom-media,
#mpris {
  color: @color1;
  background-color: @background;
  padding: 0 15px;
}

#bluetooth {
  color: @color5;
}
