@import url("/home/rahul/.cache/wal/colors-waybar.css");
/*@import url("colors.css");*/

* {
  font-family: "Radio Canada Big", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
}

window#waybar {
  background-color: transparent;
  color: @background;
}

#workspaces button {
  padding-right: 11px;
  padding-left: 6px;
}

#workspaces button.urgent {
  color: @color3;
}

#workspaces button.active:hover {
  color: @background;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces {
  background-color: @background;
}

.modules-left {
  margin-left: 20px;
}

.modules-right {
  margin-right: 20px;
}

#custom-notifications,
#mpris,
#bluetooth,
#custom-pacman,
#battery,
#pulseaudio,
#backlight,
#network,
#custom-weather,
#custom-media {
  color: @color5; /* color5 */
  background-color: @background; /* background */
  margin: 0 6px 0 6px;
  padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#network {
  color: @color2; /* color2 */
  background-color: @background; /* background */
  padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#clock {
  color: @color3; /* color3 */
  background-color: @background; /* background */
  padding: 0 15px 0 15px;
  margin-right: 6px;
}

#backlight {
  color: @color3; /* color5 */
  margin: 0 0 0 6px;
}

#battery {
  color: @color1;
}

#network {
  color: @color4; /* color4 */
}

#pulseaudio {
  color: @color5; /* color5 */
}

#custom-weather {
  color: @color4; /* color2 */
  background-color: @background; /* background */
  padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#custom-pacman {
  color: @color8;
}

#custom-media {
  color: @color6; /* color2 */
  background-color: @background; /* background */
  padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#bluetooth {
  color: @color5;
}
